* {
  margin: 0;
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.myy {
  fill: orange; /* Exemple de couleur différente pour un état sélectionné */
  stroke: black;
  stroke-width: 2px;
}

#root {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr;
}

.length-style {
  font-size: 23px;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  padding: 5px;
  align-items: center;
}

.space {
  margin-top: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  padding: 7px;
}

.hover-overlay {
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.52);
  color: white;
  border-radius: 10%;
}

.layer-dropdown {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.full-width {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.freehand {
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.previous-measures {
  position: absolute;
  background-color: white;
  left: 80%;
  top: 50px;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  #root {
    grid-template-rows: auto 1fr;
    grid-template-columns: unset;
  }

  .sidebar {
    flex-direction: row;
    flex-flow: wrap;
    gap: 1em;
    column-gap: 2em;
    height: 100%;
  }

  .sidebar .button-60 {
    display: block;
  }

  .length-style {
    font-size: unset;
  }

  .previous-measures {
    width: max-content;
    left: 114px;
    top: 135px;
  }
}
